.todoList{
    border-radius: 12px;
    margin: 20px !important;
    background: white;
    padding: 0!important;
    margin: 35px !important;
}
.addTask{
    float: right;
}
.addTask button{
    top:-56px
}
.taskCategory, .userCategory{
    overflow: hidden;
    color: white;
    margin: auto;
    text-align: center;
    background: #282c34;
    border-radius: 12px 12px 0 0;
}
.taskList{
    /* height: 250px !important; */
    height: 460px !important;
    overflow: overlay !important;
}
.activeTaskList{
    box-shadow: 0px 0px 10px 0px black;
    background: #282c34;
    border-radius: 12px 12px 0 0;
}
.taskCategory div{
    cursor: pointer;
}
.todo{
    background-color: gainsboro;
}
.pending{
    background-color: rgb(255 38 0 / 25%) !important;
}
.inprogress{
    background-color: rgba(0, 119, 255, 0.25) !important;    
}
.taskState, .userRole{
    flex: unset !important;
    text-align: right;
    margin-left: 10px !important;
    display: inline-flex;
}
.itemButton{
    padding-right: 0px !important;
    margin-right: 55px !important;
}
.review{
    background-color: #ffab5494;
}
.completed{
    background-color: #5cb85c73;
}
.taskDate{
    text-align: center !important;
    font-size: 15px;
}
.noFound{
    color: #555555;
    text-align: center;
    margin-top: 200px;
}
.list-header{
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 15px 0 !important;
    overflow: hidden;
}
.header-row{
    padding: 0 103px 0 64px;
    margin-top: 0px;
    z-index: 99;
    width: auto;
    background-color: gainsboro;
    margin-left: 0px !important;
}
.task-status-header{
    padding-left: 30px !important;
}