.selectMembers fieldset{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
}
.selectMembers .MuiSelect-select{
    padding-left: 0 !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}
.selectMembers label{
    margin-left: -12px;
}