.UserAvatar:first-letter {
    text-transform: capitalize;
}
.UserActions{
    position: absolute;
    top: 20px;
    right: 15px;
    /* z-index: 99999; */
}
.UserActions .MuiAvatar-root{
    background-color: #3c4351;
    box-shadow: 5px 0px 10px #525a6ca3;
}